<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Page</title>
</head>
<body>
<div sec:authorize="hasAnyRole('ADMIN')">
<h1>Admin Dashboard</h1>
<nav>
    <ol>
        <li><a th:href="@{/users/new}">Create Faculty Account</a></li>
        <br>
        <li><a th:href="@{/textbooks/new}">Create E-textbook</a></li>
        <br>
        <li><a th:href="@{/textbooks}">Modify E-textbooks</a></li>
        <br>
<!--        <li><a th:href="@{/courses/new?courseType='Active'}">Create New Active Course</a></li>-->
        <li><a th:href="@{/activecourse/new}">Create New Active Course</a></li>
        <br>
        <li><a th:href="@{/courses/new?courseType='Evaluation'}">Create New Evaluation Course</a></li>
        <br>
        <li>
            <a th:href="@{/landing/queries}" >Demo Queries</a>
        </li>
        <br>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ol>
</nav>
</div>
</body>
</html>