<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Textbook List</title>
</head>
<body>
<h1>Textbook List</h1>

<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/textbooks/new}">Add New Textbook</a>
</div>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="textbook : ${textbooks}">
        <td th:text="${textbook.uid}">ID</td>
        <td th:text="${textbook.title}">Title</td>
        <td>
            <a th:href="@{/textbooks/{id}(id=${textbook.uid})}">View</a>
            <div sec:authorize="hasAnyRole('ADMIN', 'FACULTY')">
                <a th:href="@{/textbooks/edit/{id}(id=${textbook.uid})}">Edit</a>
            </div>
            <div sec:authorize="hasAnyRole('ADMIN')">
                <form th:action="@{/textbooks/{id}(id=${textbook.uid})}" th:method="delete" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasAnyRole('ADMIN')">
    <a th:href="@{/landing/admin}">Back</a>
</div>
<div sec:authorize="hasAnyRole('FACULTY')">
    <a th:href="@{/landing/faculty}">Back</a>
</div>
<div sec:authorize="hasAnyRole('TA')">
    <a th:href="@{/landing/ta}">Back</a>
</body>
</html>
