<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Course Details</title>
</head>
<body>
<h1>Course Details</h1>
<p><strong>Course ID:</strong> <span th:text="${course.courseId}">Course ID</span></p>
<p><strong>Title:</strong> <span th:text="${course.title}">Title</span></p>
<p><strong>Start Date:</strong> <span th:text="${course.startDate}">Start Date</span></p>
<p><strong>End Date:</strong> <span th:text="${course.endDate}">End Date</span></p>
<p><strong>Course Type:</strong> <span th:text="${course.courseType}">Course Type</span></p>

<div th:if="${textbook != null}">
    <table border="1">
        <thead>
        <tr>
            <th>Textbook ID</th>
            <th>Title</th>
            <th>Actions</th>
            <th sec:authorize="hasRole('STUDENT')">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${textbook.uid}">Textbook ID</td>
            <td th:text="${textbook.title}">Textbook Title</td>
            <td>
                <a th:href="@{/textbooks/{id}(id=${textbook.uid})}">View Textbook Details</a>
            </td>
            <td sec:authorize="hasRole('STUDENT')">
                <a th:href="@{/participation/score(tbookId=${textbook.uid}, userId=${userId})}">View Participation Score</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<a sec:authorize="hasRole('ADMIN')" th:href="@{/textbooks/new(courseId=${course.courseId})}">Add New Textbook</a>
<br>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/courses}">Back to List</a>
</div>
<div sec:authorize="hasAnyRole('FACULTY','TA','STUDENT')">
    <a th:href="@{/courses/active(userId=${userId})}">Back to List</a>
</div>
</body>
</html>
